.results-grid {
  display: grid;
  gap: var(--space-xlarge) var(--space-grid-gap);
  grid-template-columns: repeat(auto-fill, minmax(var(--product-image-min-width), 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 549px) {
  .results-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .results-grid__item--article,
  .results-grid__item--page {
    grid-column: span 2;
  }
}
