/* margin */
.space--m-clear {
  margin: 0;
}

.space--p-clear {
  padding: 0;
}

.space--mt--xsmall {
  margin-top: var(--space-xsmall);
}

.space--mt--small {
  margin-top: var(--space-small);
}

.space--mt--medium {
  margin-top: var(--space-medium);
}

.space--mt--large {
  margin-top: var(--space-large);
}

.space--mt--xlarge {
  margin-top: var(--space-xlarge);
}

.space--mb--xsmall {
  margin-bottom: var(--space-xsmall);
}

.space--mb--small {
  margin-bottom: var(--space-small);
}

.space--mb--medium {
  margin-bottom: var(--space-medium);
}

.space--mb--large {
  margin-bottom: var(--space-large);
}

.space--mb--xlarge {
  margin-bottom: var(--space-xlarge);
}

.space--mv--xsmall {
  margin-bottom: var(--space-xsmall);
  margin-top: var(--space-xsmall);
}

.space--mv--small {
  margin-bottom: var(--space-small);
  margin-top: var(--space-small);
}

.space--mv--medium {
  margin-bottom: var(--space-medium);
  margin-top: var(--space-medium);
}

.space--mv--large {
  margin-bottom: var(--space-large);
  margin-top: var(--space-large);
}

.space--mv--xlarge {
  margin-bottom: var(--space-xlarge);
  margin-top: var(--space-xlarge);
}

.space--ml--xsmall {
  margin-left: var(--space-xsmall);
}

.space--ml--small {
  margin-left: var(--space-small);
}

.space--ml--medium {
  margin-left: var(--space-medium);
}

.space--ml--large {
  margin-left: var(--space-large);
}

.space--ml--xlarge {
  margin-left: var(--space-xlarge);
}

.space--mr--xsmall {
  margin-right: var(--space-xsmall);
}

.space--mr--small {
  margin-right: var(--space-small);
}

.space--mr--medium {
  margin-right: var(--space-medium);
}

.space--mr--large {
  margin-right: var(--space-large);
}

.space--mr--xlarge {
  margin-right: var(--space-xlarge);
}

.space--mh--xsmall {
  margin-left: var(--space-xsmall);
  margin-right: var(--space-xsmall);
}

.space--mh--small {
  margin-left: var(--space-small);
  margin-right: var(--space-small);
}

.space--mh--medium {
  margin-left: var(--space-medium);
  margin-right: var(--space-medium);
}

.space--mh--large {
  margin-left: var(--space-large);
  margin-right: var(--space-large);
}

.space--mh--xlarge {
  margin-left: var(--space-xlarge);
  margin-right: var(--space-xlarge);
}

/* padding */
.space--pt--xsmall {
  padding-top: var(--space-xsmall);
}

.space--pt--small {
  padding-top: var(--space-small);
}

.space--pt--medium {
  padding-top: var(--space-medium);
}

.space--pt--large {
  padding-top: var(--space-large);
}

.space--pt--xlarge {
  padding-top: var(--space-xlarge);
}

.space--pb--xsmall {
  padding-bottom: var(--space-xsmall);
}

.space--pb--small {
  padding-bottom: var(--space-small);
}

.space--pb--medium {
  padding-bottom: var(--space-medium);
}

.space--pb--large {
  padding-bottom: var(--space-large);
}

.space--pb--xlarge {
  padding-bottom: var(--space-xlarge);
}

.space--pv--xsmall {
  padding-bottom: var(--space-xsmall);
  padding-top: var(--space-xsmall);
}

.space--pv--small {
  padding-bottom: var(--space-small);
  padding-top: var(--space-small);
}

.space--pv--medium {
  padding-bottom: var(--space-medium);
  padding-top: var(--space-medium);
}

.space--pv--large {
  padding-bottom: var(--space-large);
  padding-top: var(--space-large);
}

.space--pv--xlarge {
  padding-bottom: var(--space-xlarge);
  padding-top: var(--space-xlarge);
}

.space--pl--xsmall {
  padding-left: var(--space-xsmall);
}

.space--pl--small {
  padding-left: var(--space-small);
}

.space--pl--medium {
  padding-left: var(--space-medium);
}

.space--pl--large {
  padding-left: var(--space-large);
}

.space--pl--xlarge {
  padding-left: var(--space-xlarge);
}

.space--pr--xsmall {
  padding-right: var(--space-xsmall);
}

.space--pr--small {
  padding-right: var(--space-small);
}

.space--pr--medium {
  padding-right: var(--space-medium);
}

.space--pr--large {
  padding-right: var(--space-large);
}

.space--pr--xlarge {
  padding-right: var(--space-xlarge);
}

.space--ph--xsmall {
  padding-left: var(--space-xsmall);
  padding-right: var(--space-xsmall);
}

.space--ph--small {
  padding-left: var(--space-small);
  padding-right: var(--space-small);
}

.space--ph--medium {
  padding-left: var(--space-medium);
  padding-right: var(--space-medium);
}

.space--ph--large {
  padding-left: var(--space-large);
  padding-right: var(--space-large);
}

.space--ph--xlarge {
  padding-left: var(--space-xlarge);
  padding-right: var(--space-xlarge);
}

.space--viewport-sides {
  padding-left: var(--space-viewport-sides);
  padding-right: var(--space-viewport-sides);
}

.space--ml--viewport-sides {
  margin-left: var(--space-viewport-sides);
}

.space--mr--viewport-sides {
  margin-right: var(--space-viewport-sides);
}

.space--pl--viewport-sides {
  padding-left: var(--space-viewport-sides);
}

.space--pr--viewport-sides {
  padding-right: var(--space-viewport-sides);
}

.space--drawer-sides {
  padding-left: var(--space-drawer-sides);
  padding-right: var(--space-drawer-sides);
}

.space--grid-gap {
  gap: var(--space-grid-gap);
}

.space--gap--xlarge {
  gap: var(--space-xlarge);
}

.space--gap--large {
  gap: var(--space-large);
}

.space--gap--medium {
  gap: var(--space-medium);
}

.space--gap--small {
  gap: var(--space-small);
}

.space--gap--xsmall {
  gap: var(--space-xsmall);
}

.space--gap--none {
  gap: 0;
}

/* Responsive space reset classes */
@media screen and (min-width: 550px) {
  .space--m-clear--xsmall-up {
    margin: 0 !important;
  }

  .space--p-clear--xsmall-up {
    padding: 0 !important;
  }
}

@media screen and (max-width: 549px) {
  .space--m-clear--xsmall-down {
    margin: 0 !important;
  }

  .space--p-clear--xsmall-down {
    padding: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  .space--m-clear--small-up {
    margin: 0 !important;
  }

  .space--p-clear--small-up {
    padding: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .space--m-clear--small-down {
    margin: 0 !important;
  }

  .space--p-clear--small-down {
    padding: 0 !important;
  }
}

@media screen and (min-width: 900px) {
  .space--m-clear--medium-up {
    margin: 0 !important;
  }

  .space--p-clear--medium-up {
    padding: 0 !important;
  }
}

@media screen and (max-width: 899px) {
  .space--m-clear--medium-down {
    margin: 0 !important;
  }

  .space--p-clear--medium-down {
    padding: 0 !important;
  }

  .space--ml--viewport-sides--medium-down {
    margin-left: var(--space-viewport-sides);
  }
}

@media screen and (min-width: 990px) {
  .space--m-clear--large-up {
    margin: 0 !important;
  }

  .space--p-clear--large-up {
    padding: 0 !important;
  }
}

@media screen and (max-width: 989px) {
  .space--m-clear--large-down {
    margin: 0 !important;
  }

  .space--p-clear--large-down {
    padding: 0 !important;
  }
}
